@function sidebarPadding() {
  @return 10rem;
}

.sidebar {
  background-color: themed(color-bg-secondary);
  position: fixed;
  width: sidebarPadding();
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;

  %icons {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
  }

  #home-icon {
    @extend %icons;
    fill: themed(color-graphic-secondary);
    max-width: 3rem;
  }

  #bottom-icon {
    @extend %icons;
    fill: themed(color-graphic-primary);
    max-width: 5rem;
  }

  .nav_links li a {
    text-align: center;
    width: 100%;
    display: block;
    font-size: 1.2rem;
    color: themed(color-txt-secondary);
    line-height: 3rem;
    border-bottom: 1px solid themed(color-bg-primary);
    text-transform: uppercase;

    &:hover {}
  }

  .nav_soc {
    display: flex;
    justify-content: center;
    align-content: center;

    li {
      padding: 1rem;
    }

    svg {
      fill: themed(color-graphic-secondary);
      width: 2rem;
      height: 2rem;
    }
  }
}