@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,900;1,100;1,400;1,900&display=swap'); // Really popular font for some reason

$font: Poppins,
Arial,
monospace;

$color-bg-primary: #282828;
$color-bg-secondary: #202020;
$color-text-primary: white;
$color-text-secondary: #c8c8c8;