@import "./reset";
@import "./variables";
@import "./responsive";

@import "./navbar";

body {
  background-color: $color-bg-primary;
  color: $color-text-primary;
  font-family: $font;
}

img {
  max-width: 512px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}