@import "./reset";
@import "./themes";
@import "./responsive";

@import "./navbar";

@include generateThemes();

body {
  background-color: themed(color-bg-primary);
  color: themed(color-txt-primary);
  font-family: themed(font-primary);
}

img,
svg {
  max-width: 256px;
  max-height: 256px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.page {
  padding-left: sidebarPadding();
}